.mp_div{ 
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.mp_form{
    background-color: rgb(219, 219, 219); 
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px; 
    border-radius: 10px;
}
.MYPICK{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    background-color: rgb(247, 221, 225);
    border-radius: 10px;
    font-size: 40px;
    padding: 15px;
    padding-left: 50px;
}
.sel_r{
    height: 140px;
    border: 1px solid black;
    font-size: 30px; 
    
}
.select_T{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 92%;
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px; 
} 
input[type=checkbox] {

    zoom: 2;
    
    }
.head-fir{
    width: 100px;
    text-align: center;
}
.text_div{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(247, 221, 225);
    border-radius: 20px;
    padding: 40px;
    width: 960px;
}
.pick_msg{
    font-size: 25px;
    overflow-y: auto;
    padding: 15px;
    border-radius: 10px;
    resize: none;
}
.head-sec{
    font-size: 30px;
}
.first-row{
    width: 150px;
}
.second-row{
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
} 
.sel_i{
    width: 100px;
} 
.s_name{
    background-color: rgb(247, 221, 225);
    padding : 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.p_b_div{
    text-align: center;
}
.pick_button{
    margin: 40px;
}